[submodule "wiki"]
	path = wiki
	url = https://github.com/shichiyou/wiki.git
[submodule "experiences/aidlc-codd-demo"]
	path = experiences/aidlc-codd-demo
	url = https://github.com/awslabs/aidlc-workflows.git
